
/* Manage minicart height and auto scroll*/

.minicart-items-wrapper {
    .lib-css(border, 1px solid @minicart__border-color);
    .lib-css(margin, 0 -@minicart__padding-horizontal);
    border-left: 0;
    border-right: 0;
    overflow-x: auto;
    padding: 15px;
    height: auto !important;
    max-height: 320px !important;
}